/* Add a black background color to the top navigation */
table, th ,td {
  border : 1px solid black;
  padding: 2px;

}
tr:nth-child(even) {
  background-color: gainsboro ;
}
.HeadOfTable {
  background: gray;
  height: 30px;
  padding: 2px;
}
body{
  margin: 0 auto;
  min-height: 100%;
  height: 100%;

}
.MassnahmenTable {

  position: relative;
  background: cadetblue;
  margin-right: auto;



}
.LogInButton{
  margin-left: auto;
  margin-top: auto;

}
#MaßnahmenErstellen{
  margin-top: 20px;

}
