/*!!Global parameters!!*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* To center the grid */
body {
    display: flex;
    flex-flow: column wrap;
    justify-content: space-around;
} 
/* Header */
header {
    display: flex;
    flex-flow: column wrap;
    align-content: space-between;
    border: 4px solid #000;
}
header a:link, header a:visited {
    background-color: #fff;
    color: #466B52;
    padding: 8px 10px;
    text-align: center;
    border-bottom: 4px solid #466B52;
}
header a:hover, a:active {
    background-color: #466B52;
    color: #fff;
    transition:transform.2s ease-in-out;
    border-bottom: 4px solid #466B52;
}
/*active shows where the user is - navigation */
.active {
    color: #fff                 !important;
    background-color: #466B52   !important;
}
header .logo img{
    width: 130px;
    height: 116px;
    border:none;
}
header .logo a{
    border: none;
    background-color: #fff     !important;
    padding: 0px;
}
header .logo{
    order: 1;
}
header .topnav{
    order: 5;
}
header .header-profile{
    order: 10;
}
/* footer */
footer {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: flex-end;
    background-color: #B2B2B2;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
}
/* Navigation menu */
.navigation-ressources {
    display: flex;
    flex-flow: row nowrap;
}
/*links global*/
a{
    text-decoration: none;
}
a:link{
    color: #466B52;
}
a:visited{
    color: #3D2F2A;
}
a:hover{
    color: #6A8E5B;
}
a:active{
    color: #3D2F2A;
}

/*!!!!!Background-colors are just for testing purposes!!!!*/
/* Mobile Styles*
@media only screen and (max-width: 400px) {
    body {
      background-color: lightpink;  
    }
  } */
  
  /* Tablet Styles */
  @media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
      background-color: lightgreen;
    }
    
  }
  
  /* Desktop Styles */
  @media only screen and (min-width: 961px) {
    body {
      background-color: lightskyblue; 
    }
    /* header */
    header {
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        justify-content: flex-end;
    }
    header .logo{
        order: 1;
        flex-grow: 3;
    }
    header .topnav{
        order: 5;
        flex-grow: 2;
    }
    header .header-profile{
        order: 10;
        flex-shrink: 2;
    }
  }