body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-flow: row nowrap;
}

.footer {
    display: flex;
    flex: 0 0 100%;
    flex-flow: row nowrap;
    background-color: #B2B2B2;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
}
.footer a{
    color: #003098;
}
.footer a:hover{
    color: #6699cc;
}

.navigation-ressources {
    display: flex;
    flex-flow: row nowrap;
}
