body {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

.header {
    display: flex;
    flex-flow: row nowrap;
}

.footer {
    display: flex;
    flex-flow: row nowrap;
    background-color: #747474;
    font: 13px/20px PTSansRegular,Arial,Helvetica,sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 13px;
}

.navigation-ressources {
    display: flex;
    flex-flow: row nowrap;
}
