<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
    <title>NEMo - Erdgas</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a id="logo" href="../index" rel="noopener noreferrer"><img src="../pictures/logoNemo.png"
                alt="NEMo Logo"></a>
        <a href="../index" rel="noopener noreferrer">Startseite</a>
        <a href="../massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
        <a href="../eingabeauswahl" rel="noopener noreferrer">Firmenübersicht</a>
        <!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
        <!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
        <a href="../profil" rel="noopener noreferrer">Mein Profil</a>
        <a href="../login" rel="noopener noreferrer">Log-In</a>
    </header>
    <!-- Input Navigation Menu -->
    <div class="input-navigation">
        <a href="../ressourcen/strom">Strom</a>
        <a href="../ressourcen/heizung">Heizung</a>
        <a class="active" href="../ressourcen/erdgas">Gas</a>
        <a href="../ressourcen/wasser">Wasser</a>
        <a href="../ressourcen/abfall">Abfall</a>
        <a href="../ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
        <a href="../ressourcen/umsatz">Umsatz</a>
    </div>

    <!--Main Content-->
    <div class="content">
        <form method="post" name="ErdgasForm">
            <div class="child-ressourcen">
                <div><label for="GasverbrauchMenge">Gasverbrauch</label>
                    <input id="GasverbrauchMenge" name="GasverbrauchMenge" type="text"> m<sup>3</sup></div>
                <div>
                    <label for="GasverbrauchHaeufigkeit">H&auml;uigkeit</label>
                    <select name="GasverbrauchHaeufigkeit">
                        <option value="GasverbrauchMonatlich">monatlich</option>
                        <option value="GasverbrauchZweimonatlich">zweimonatlich</option>
                        <option value="GasverbrauchJaehrlich">j&auml;hrlich</option>
                    </select>
                </div>
                <div><label for="GasverbrauchAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="GasverbrauchAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="ErdgasJahresabrechnungMenge">Jahresabrechnung</label></div>
                <div><label for="ErdgasJahresabrechnungVorzeichen">Vorzeichen</label>
                    <select name="ErdgasJahresabrechnungVorzeichen">
                        <option value="ErdgasPlus">+</option>
                        <option value="ErdgasMinus">-</option>
                    </select>
                    <input id="ErdgasJahresabrechnungMenge" name="ErdgasJahresabrechnungMenge" type="text">
                    m<sup>3</sup></div>
                <div>
                    <label for="ErdgasJahresabrechnungAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="ErdgasJahresabrechnungAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="ErdgasSparmassnahme">Sparma&szlig;nahme</label>
                    <select id="ErdgasSparmassnahme" name="ErdgasSparmassnahme">
                        <!-- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED -->
                        <option value="ErdgasDaemmung">D&auml;mmung</option>
                        <option value="ErdgasOption2">Option 2</option>
                    </select>
                </div>
                <div><label for="ErdgasSparmassnahmeInbetriebnahme">Inbetriebnahme</label>
                    <input id="ErdgasSparmassnahmeInbetriebnahme" name="ErdgasSparmassnahmeInbetriebnahme" type="date">
                </div>
            </div>

            <!-- Daten hochladen -->
            <div>
                <div><input name="ErdgasSpeichern" type="submit" value="Speichern"></div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
</body>

</html>