<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
    <title>NEMo - Heiz&ouml;l</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a id="logo" href="../index" rel="noopener noreferrer"><img src="../pictures/logoNemo.png"
                alt="NEMo Logo"></a>
        <a href="../index" rel="noopener noreferrer">Startseite</a>
        <a href="../massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
        <a href="../eingabeauswahl" rel="noopener noreferrer">Firmenübersicht</a>
        <!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
        <!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
        <a href="../profil" rel="noopener noreferrer">Mein Profil</a>
        <a href="../login" rel="noopener noreferrer">Log-In</a>
    </header>
    <!-- Input Navigation Menu -->
    <div class="input-navigation">
        <a href="../ressourcen/strom">Strom</a>
        <a class="active" href="../ressourcen/heizung">Heizung</a>
        <a href="../ressourcen/erdgas">Gas</a>
        <a href="../ressourcen/wasser">Wasser</a>
        <a href="../ressourcen/abfall">Abfall</a>
        <a href="../ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
        <a href="../ressourcen/umsatz">Umsatz</a>
    </div>
    <!--Main Content-->
    <div class="content">
        <form method="post" name="HeizoelForm">
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Heizoel"> Heiz&ouml;l</div>
                <div><label for="HeizoelverbrauchMenge">Heiz&ouml;lverbrauch</label>
                    <input id="HeizoelverbrauchMenge" name="HeizoelverbrauchMenge" type="text"> L</div>
                <div><label for="Heizoelzeitraum">Zeitraum</label>
                    <input id="Heizoelzeitraum" name="HeizoelAnfangsdatum" type="date">
                    <input type="date" name="HeizoelEnddatum"></div>
            </div>
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Holzpellets"> Holzpelletheizung</div>
                <div><label for="HolzpelletverbrauchMenge">Holzpelletverbrauch</label>
                    <input id="HolzpelletverbrauchMenge" name="HolzpelletverbrauchMenge" type="text"> kg</div>
                <div><label for="Holzpelletzeitraum">Zeitraum</label>
                    <input id="Holzpelletzeitraum" name="HolzpelletAnfangsdatum" type="date">
                    <input name="HolzpelletEnddatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><input type="checkbox" name="HeizungCheckbox" value="Fernwaerme"> Fernw&auml;rme</div>
                <div><label for="FernwaermeverbrauchMenge">Fernw&auml;rmeverbrauch</label>
                    <input id="FernwaermeverbrauchMenge" name="HolzpelletverbrauchMenge" type="text"> kWh</div>
                <div><label for="Fernwaermezeitraum">Zeitraum</label>
                    <input id="Fernwaermezeitraum" name="FernwaermeAnfangsdatum" type="date">
                    <input name="FernwaermeEnddatum" type="date"></div>
            </div>

            <div class="child-ressourcen">
                <div><label for="HeizoelSparmassnahme">Sparma&szlig;nahme</label>
                    <select id="HeizoelSparmassnahme" name="HeizoelSparmassnahme">
                        <!-- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED -->
                        <option value="HeizoelDaemmung">D&auml;mmung</option>
                        <option value="HeizoelOption2">Option 2</option>
                    </select>
                </div>
                <div><label for="HeizoelSparmassnahmeInbetriebnahme">Inbetriebnahme</label>
                    <input id="HeizoelSparmassnahmeInbetriebnahme" name="HeizoelSparmassnahmeInbetriebnahme"
                        type="date"></div>
            </div>

            <!-- Daten hochladen -->
            <div>
                <input name="HeizoelSpeichern" type="submit" value="Speichern">
            </div>
        </form>
    </div>


    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
</body>

</html>