<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
    <title>NEMo - Strom</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a id="logo" href="../index" rel="noopener noreferrer"><img src="../pictures/logoNemo.png"
                alt="NEMo Logo"></a>
        <a href="../index" rel="noopener noreferrer">Startseite</a>
        <a href="../massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
        <a href="../eingabeauswahl" rel="noopener noreferrer">Firmenübersicht</a>
        <!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
        <!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
        <a href="../profil" rel="noopener noreferrer">Mein Profil</a>
        <a href="../login" rel="noopener noreferrer">Log-In</a>
    </header>
    <!-- Input Navigation Menu -->
    <div class="input-navigation">
        <a class="active" href="../ressourcen/strom">Strom</a>
        <a href="../ressourcen/heizung">Heizung</a>
        <a href="../ressourcen/erdgas">Gas</a>
        <a href="../ressourcen/wasser">Wasser</a>
        <a href="../ressourcen/abfall">Abfall</a>
        <a href="../ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
        <a href="../ressourcen/umsatz">Umsatz</a>
    </div>
    <!--Main Content-->
    <div class="content">
        <form method="post" name="StromForm">
            <div class="child-ressourcen">
                <div><label for="StrommixAuswahl">Strommix</label></div>
                <div>
                    <select id="StrommixAuswahl" name="StrommixAuswahl">
                        <option value="Standard">Standard</option>
                        <option value="Oekostrom">100% &Ouml;kostrom</option>
                    </select>
                <input name="StrommixVerbrauch" type="text"> kWh</div>
                <div>
                    <label for="StromHaeufigkeit">H&auml;uigkeit</label>
                    <select name="StromHaeufigkeit">
                        <option value="StromMonatlich">monatlich</option>
                        <option value="StromZweimonatlich">zweimonatlich</option>
                        <option value="StromJaehrlich">j&auml;hrlich</option>
                    </select>
                </div>
                <div><label for="StrommixAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="StrommixAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="StromJahresabrechnung">Jahresabrechnung</label></div>
                <div>
                    <label for="StromJahresabrechnungVorzeichen">Vorzeichen</label>
                    <select name="StromJahresabrechnungVorzeichen">
                        <option value="StromPlus">+</option>
                        <option value="StromMinus">-</option>
                    </select>
                    <input id="StromJahresabrechnung" name="StromJahresabrechnung" type="text"> kWh
                </div>
                <div><label for="StromJahresabrechnungAenderungsdatum">&Auml;nderungsdatum</label>
                    <input name="StromJahresabrechnungAenderungsdatum" type="date"></div>
            </div>
            <div class="child-ressourcen">
                <div><label for="StromSparmassnahme">Sparma&szlig;nahme</label>
                    <select id="StromSparmassnahme" name="StromSparmassnahme">
                        <!-- dieses Dropdown muß aus dem Maßnahmenkatalog gespeist werden SCRIPT NEEDED -->
                        <option value="Photovoltaik">Photovoltaik</option>
                        <option value="LED">LED</option>
                    </select>
                </div>
                <div><label>Inbetriebnahme</label>
                    <input id="StromSparmassnahmeInbetriebnahme" name="StromSparmassnahmeInbetriebnahme" type="date"></div>
            </div>

            <!-- Daten hochladen -->
            <div>
                <div><input name="StromSpeichern" type="submit" value="Speichern"></div>
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('../partials/footer'); -%>
    </footer>
</body>

</html>