<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../pictures/favicon.ico">
    <title>NEMo - Umsatz</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a id="logo" href="../index.html" rel="noopener noreferrer"><img src="../pictures/logoNemo.png"
                alt="NEMo Logo"></a>
        <a href="../index.html" rel="noopener noreferrer">Startseite</a>
        <a href="../massnahmen-katalog.html" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
        <a href="../eingabeauswahl.html" rel="noopener noreferrer">Firmenübersicht</a>
        <!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
        <!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
        <a href="../profil.html" rel="noopener noreferrer">Mein Profil</a>
        <a href="../login.html" rel="noopener noreferrer">Log-In</a>
    </header>
    <!-- Input Navigation Menu -->
    <div class="input-navigation">
        <a href="../ressourcen/strom.html">Strom</a>
        <a href="../ressourcen/heizung.html">Heizung</a>
        <a href="../ressourcen/erdgas.html">Gas</a>
        <a href="../ressourcen/wasser.html">Wasser</a>
        <a href="../ressourcen/abfall.html">Abfall</a>
        <a href="../ressourcen/neue-massnahme.html">Kompensationsma&szlig;nahme</a>
        <a class="active" href="../ressourcen/umsatz.html">Umsatz</a>
    </div>
    <!--Main Content-->
    <div class="content">
        <form action="" name="UmsatzHinzufuegen" method="post">
            <div class="child-ressourcen">
                <label for="Umsatz">Jahresumsatz</label>
                <input type="number" name="UmsatzInput" id="Umsatz"> &euro;
            </div>
            <div class="child-ressourcen">
                <label for="DatumUmsatz">Datum</label>
                <input type="date" name="DatumUmsatzInput" id="DatumUmsatz">
            </div>

            <!-- Daten hochladen -->
            <div>
                <input name="UmsatzSpeichern" type="submit" value="Abschicken">
            </div>
            <p id="umsatz-text">Diese Daten werden nur zur Berechnung der relativen CO<sub>2</sub> Emissionen verwendet und auf keiner
                Weise direkt ver&ouml;ffentlicht.</p>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
</body>

</html>