<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
</head>

<body>
    <!--Header-->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main -->
    <div class="content">
        <h1>FAQ - Frecuenty Asked Questions</h1>
        <h2>Kurz zu dem Projekt</h2>
        <div>
            Bei dieser Webseite handelt es sich um ein studentisches Projekt, dass dem Unternehmensnetzwerk Motzener
            Stra&szlig;e eine Weboberfl&auml;che zur Verf&uuarr;gung stellt, um Emissions Daten zusammeln.
            <br>
            Und in Zukunft auch zu reduzieren? :)
        </div>
        <h2>Wie funktioniert ...?</h2>
        <div>
            Falls viele Anfragen kommen, wie etwas funktioniert, kann hier erkl&auml;rt werden, wie die Sachen
            funktionieren. Falls es nicht eher angepasst werden sollte.
        </div>
    </div>
    <!--Footer-->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
</body>

</html>