<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <title>NEMo - Home</title>
</head>

<body>
    
    <footer>
        <p>text</p>
    </footer>
</body>

</html>