<!DOCTYPE html>
<html lang="de">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <title>NEMo - Home</title>
</head>

<body>
    <!-- Header -->
    <header>
        <a id="logo" href="./index" rel="noopener noreferrer"><img src="./pictures/logoNemo.png" alt="NEMo Logo"></a >
        <a class="active" href="/" rel="noopener noreferrer">Startseite</a>
        <a href="./massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
        <a href="./eingabeauswahl" rel="noopener noreferrer">Firmenübersicht</a>
        <!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
        <!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
        <a href="./profil" rel="noopener noreferrer">Mein Profil</a>
        <a href="./login" rel="noopener noreferrer">Log-In</a>
    </header>
    <!-- Main -->
    <div class="content index">
        <div class="goal-tracker">
            <form action="" name="ZielBalkenErstellen" method="get">
                <img src="./pictures/nemoBalkenOhneSchrift.jpeg" alt="Zeigt wie dicht wir dem Ziel sind">
                <p>Platzhalter</p>
            </form>
        </div>
        <article>
            <h1> CO<sub>2</sub> Ersparnis </h1>
            <form name="DiagrammErstellen" method="GET">
                <div>
                    <img class="img-center" src="./pictures/diagrammemissionenbsp.png"
                        alt="Zeigt die CO2 Emissionen des Unternehmensnetzwerkes" width="30%" height="30%">
                </div>
                <p>Das Bild ist nur ein Platzhalter</p>
                <!--
                    Branche: 
                    <select>
                        <option>Umweltabteilung</option>
                        <option>Wirtschaftabteilung</option>
                        <option>Humanressourcen</option>
                    </select>
                     
                        Würde die Anonymität verletzten
        
                    <input type="search" name="SucheInput" value="Suche bestimmte Firma">
                     ggf über CSS BITTE :)
                    <button type="submit"><img src="./pictures/suche.png" alt="Suchen Logo" width="15" height="15"></button>
                    -->
            </form>
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
</body>

</html>