<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
    <script src="javascripts/chart.js"></script>
    <script src="javascripts/utils.js"></script>
    <style>
        canvas{
            -moz-user-select: none;
            -webkit-user-select: none;
            -ms-user-select: none;
        }
    </style>
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/header'); -%>
    </header>
    <!-- Main -->
    <div class="content index">
        <div class="goal-tracker">
            <form action="" name="ZielBalkenErstellen" method="get">
                <img src="./pictures/nemoBalkenOhneSchrift.jpeg" alt="Zeigt wie dicht wir dem Ziel sind">
                <p>Platzhalter</p>
            </form>
        </div>
        <article>
            <h1> CO<sub>2</sub> Ersparnis </h1>
            <div style="width:100%;">
                <canvas id="canvas"></canvas>
            </div>
            <br>
            <br>
            <button id="randomizeData">Randomize Data</button>
            <button id="addDataset">Add Dataset</button>
            <button id="removeDataset">Remove Dataset</button>
            <button id="addData">Add Data</button>
            <button id="removeData">Remove Data</button>
            <script>
                var YEARS = ['2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'];
                var config = {
                    type: 'line',
                    data: {
                        labels: ['2014', '2015', '2016', '2017', '2018', '2019', '2020'],
                        datasets: [{
                            label: 'My First dataset',
                            backgroundColor: window.chartColors.red,
                            borderColor: window.chartColors.red,
                            data: [
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor()
                            ],
                            fill: false,
                        }, {
                            label: 'My Second dataset',
                            fill: false,
                            backgroundColor: window.chartColors.blue,
                            borderColor: window.chartColors.blue,
                            data: [
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor(),
                                randomScalingFactor()
                            ],
                        }]
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Chart.js Line Chart'
                        },
                        tooltips: {
                            mode: 'index',
                            intersect: false,
                        },
                        hover: {
                            mode: 'nearest',
                            intersect: true
                        },
                        scales: {
                            xAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'Year'
                                }
                            }],
                            yAxes: [{
                                display: true,
                                scaleLabel: {
                                    display: true,
                                    labelString: 'CO<sub>2</sub>-Emissionen in %'
                                }
                            }]
                        }
                    }
                };

                window.onload = function() {
                    var ctx = document.getElementById('canvas').getContext('2d');
                    window.myLine = new Chart(ctx, config);
                };

                document.getElementById('randomizeData').addEventListener('click', function() {
                    config.data.datasets.forEach(function(dataset) {
                        dataset.data = dataset.data.map(function() {
                            return randomScalingFactor();
                        });

                    });

                    window.myLine.update();
                });

                var colorNames = Object.keys(window.chartColors);
                document.getElementById('addDataset').addEventListener('click', function() {
                    var colorName = colorNames[config.data.datasets.length % colorNames.length];
                    var newColor = window.chartColors[colorName];
                    var newDataset = {
                        label: 'Dataset ' + config.data.datasets.length,
                        backgroundColor: newColor,
                        borderColor: newColor,
                        data: [],
                        fill: false
                    };

                    for (var index = 0; index < config.data.labels.length; ++index) {
                        newDataset.data.push(randomScalingFactor());
                    }

                    config.data.datasets.push(newDataset);
                    window.myLine.update();
                });

                document.getElementById('addData').addEventListener('click', function() {
                    if (config.data.datasets.length > 0) {
                        var year = YEARS[config.data.labels.length % YEARS.length];'2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022'
                        config.data.labels.push(year);

                        config.data.datasets.forEach(function(dataset) {
                            dataset.data.push(randomScalingFactor());
                        });

                        window.myLine.update();
                    }
                });

                document.getElementById('removeDataset').addEventListener('click', function() {
                    config.data.datasets.splice(0, 1);
                    window.myLine.update();
                });

                document.getElementById('removeData').addEventListener('click', function() {
                    config.data.labels.splice(-1, 1); // remove the label first

                    config.data.datasets.forEach(function(dataset) {
                        dataset.data.pop();
                    });

                    window.myLine.update();
                });
            </script>
            <!--<form name="DiagrammErstellen" method="GET">
                <div>
                    <img class="img-center" src="./pictures/diagrammemissionenbsp.png"
                        alt="Zeigt die CO2 Emissionen des Unternehmensnetzwerkes" width="30%" height="30%">
                </div>
                <p>Das Bild ist nur ein Platzhalter</p>

                    Branche: 
                    <select>
                        <option>Umweltabteilung</option>
                        <option>Wirtschaftabteilung</option>
                        <option>Humanressourcen</option>
                    </select>
                     
                        Würde die Anonymität verletzten
        
                    <input type="search" name="SucheInput" value="Suche bestimmte Firma">
                     ggf über CSS BITTE :)
                    <button type="submit"><img src="./pictures/suche.png" alt="Suchen Logo" width="15" height="15"></button>

            </form>-->
        </article>
    </div>

    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
</body>
</html>