<!DOCTYPE html>
<html lang="de">

<head>
    <%- include('./partials/head'); -%>
    <link rel="stylesheet" type="text/css" href="./style/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="./pictures/favicon.ico">
</head>

<body>
    <!-- Header -->
    <header>
        <%- include('./partials/topnavigation'); -%>
        
    </header>
    <!-- Main -->
    <% if (error.length > 0) { %>
        <div><% error %></div>
    <%} %>
    <div class="content">
        <form action="/login" name="login" method="POST">
            
            <div>
                <label for="Benutzername">Benutzername</label>
                <input name="BenutzernameInput" id="Benutzername" type="text" placeholder="E-Mail Adresse" required autofocus>
            </div>
            <div>
                <label for="Passwort">Passwort</label>
                <input name="PasswortInput" id="Passwort" type="password" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;&#9679;" required>
            </div>
            <div>
                <input name="LoginInput" type="submit" value="Login">
                <a class="button" href="./passwort-vergessen">Passwort vergessen</a>
            </div>
        </form>
    </div>
    <!-- Footer -->
    <footer>
        <%- include('./partials/footer'); -%>
    </footer>
    <%- include('./partials/script'); -%>
</body>

</html>