<!DOCTYPE html>
<html>
  <head>
    <title>Testing - Graph</title>
    <style type="text/css">
      .chart-container {
        max-width: 100%;
        height: auto;
      }
    </style>
  </head>
  <body>
    <h1>Testing Graph</h1>
    <div class="chart-container">
      <canvas id="datarevenueall"></canvas>
    </div>

    <!-- javascript -->
    <script
			  src="https://code.jquery.com/jquery-3.4.1.min.js"
			  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
			  crossorigin="anonymous"></script>
    <!-- <script type="text/javascript" src="js/jquery.min.js"></script> -->
    <script type="text/javascript" src="./chartjs/Chart.min.js"></script>
    <script type="text/javascript" src="./chartjs/jsforcharts/chartforrevenueall.js"></script>
  </body>
</html>