<!-- public/partials/dropdownmonth.ejs -->
<option value="januar">Januar</option>
<option value="februar">Februar</option>
<option value="maerz">M&auml;rz</option>
<option value="april">April</option>
<option value="mai">Mai</option>
<option value="juni">Juni</option>
<option value="juli">Juli</option>
<option value="august">August</option>
<option value="september">September</option>
<option value="oktober">Oktober</option>
<option value="novemer">November</option>
<option value="december">Dezember</option>