<!-- public/partials/footer.ejs -->
<p>PROTOTYP</p>
<a href="./faq" rel="noopener noreferrer">FAQ</a> |
<a href="https://www.motzener-strasse.de/impressum/" target="_blank" rel="noopener noreferrer">Impressum</a> |
<a href="https://www.motzener-strasse.de/datenschutz/" target="_blank" rel="noopener noreferrer">Datenschutz</a>
<p>PROTOTYP</p>
