<a id="logo" href="../index" rel="noopener noreferrer"><img src="../pictures/logoNemo.png"
    alt="NEMo Logo"></a>
<a href="../index" rel="noopener noreferrer">Startseite</a>
<a href="../massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenübersicht</a>
<a href="../eingabeauswahl" rel="noopener noreferrer">Firmenübersicht</a>
<!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
<!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
<a href="../profil" rel="noopener noreferrer">Mein Profil</a>
<a href="../login" rel="noopener noreferrer">Log-In</a>