
<a id="logo" href="../index" rel="noopener noreferrer" ><img src="../pictures/logoNemo.png"
    alt="NEMo Logo"></a>
<a id="index" href="../index" rel="noopener noreferrer">Startseite</a>
<a id="massnahmen-katalog" href="../massnahmen-katalog" rel="noopener noreferrer">Ma&szlig;nahmenkatalog</a>
<a id="massnahmen-uebersicht" href="../massnahmen-uebersicht" rel="noopener noreferrer">Ma&szlig;nahmen&uuml;bersicht</a>
<a id="eingabeauswahl" href="../eingabeauswahl" rel="noopener noreferrer">Ihre &Uuml;bersicht</a>
<!-- login muss noch mittels eines Scripts zu Logout umgewandelt werden -->
<!--<img class="profile-picture" src="./pictures/abstract-user-flat-blackbackground.png" alt="Profilbild">-->
<a id="profil" href="../profil" rel="noopener noreferrer">Profil</a>
<a id="login" href="../login" rel="noopener noreferrer">Login</a>
