<div class="input-navigation">
    <a href="../ressourcen/strom">Strom</a>
    <a href="../ressourcen/heizung">Heizung</a>
    <a href="../ressourcen/erdgas">Gas</a>
    <a href="../ressourcen/wasser">Wasser</a>
    <a class="active" href="../ressourcen/abfall">Abfall</a>
    <a href="../ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
    <a href="../ressourcen/umsatz">Umsatz</a>
</div>