<div class="input-navigation">
    <a id="strom" href="../ressourcen/strom">Strom</a>
    <a id="heizung" href="../ressourcen/heizung">Heizung</a>
    <a id="erdgas" href="../ressourcen/erdgas">Gas</a>
    <a id="wasser" href="../ressourcen/wasser">Wasser</a>
    <a id="abfall" href="../ressourcen/abfall">Abfall</a>
    <a id="neue-massnahme" href="../ressourcen/neue-massnahme">Kompensationsma&szlig;nahme</a>
    <a id="umsatz" href="../ressourcen/umsatz">Umsatz</a>
    <a id="co2schaetzung" href="../ressourcen/co2schaetzung">CO<sub>2</sub> Sch&auml;tzung</a>
</div>